
.title{ 
    margin-bottom: 10px; 
    text-align:center; 
    width: 210px; 
    background-color:lightgray; 
    border: solid black 2px; 
    } 

    input[type="button"] 
    { 
    background-color:lightgray; 
    color: black; 
    border: solid black 2px; 
    width:100% 
    } 

    input[type="text"] 
    { 
    background-color:white; 
    border: solid black 2px; 
    width:100% 
    } 
    table{
        padding: 10px;
      border: 1px solid black; 
      align-content: center;
    }
    #calculator{
        display: none;
        /* width:100%;
        background-color: lightgray;
        padding: 10px;
        border: 1px solid black; */
    }